<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/_head.ejs", { title: "サンプルサイト集", filename: "top" }) %>
  </head>
  <body>
    <header class="header">
      <h1 class="header__left">
        <a href="<%= root %>/">
          <img src="<%= root %>/assets/images/top/icon.png" alt="" />
          <span>サンプルサイト集</span>
        </a>
      </h1>
    </header>
    <main class="main">
      <section class="container site-list">
        <article class="site">
          <h2 class="site__title">商品紹介サイト「PET COMPANY」</h2>

          <p class="site__description"></p>

          <a class="site__link" href="https://takumibv.github.io/practice-petsite/">
            <p class="site__link-text">https://takumibv.github.io/practice-petsite/</p>
            <img
              class="site__image"
              width="1440"
              height="800"
              src="<%= root %>/assets/images/top/sample_pet.png"
              alt=""
            />
          </a>

          <table class="site-table">
            <tr>
              <th>カテゴリ</th>
              <td>サービスサイト</td>
            </tr>
            <tr>
              <th>制作期間</th>
              <td>7時間</td>
            </tr>
            <tr>
              <th>使用技術</th>
              <td>
                <ul>
                  <li>Next.js</li>
                  <li>
                    <a href="https://www.framer.com/developers/" target="_blank">Framer Motion</a>:
                    アニメーションライブラリ
                  </li>
                  <li><a href="https://headlessui.dev/" target="_blank">headless UI</a></li>
                  <li>
                    <a href="https://tailwindcss.com/" target="_blank">TailwindCSS</a>:
                    CSSフレームワーク
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>参考</th>
              <td>
                <a target="_blank" href="https://www.inupathy.com/">inupathy</a>
              </td>
            </tr>
            <tr>
              <th>Github</th>
              <td>
                <a target="_blank" href="https://github.com/takumibv/practice-petsite"
                  >https://github.com/takumibv/practice-petsite</a
                >
              </td>
            </tr>
          </table>
        </article>

        <article class="site">
          <h2 class="site__title">ジムサイト「EngBody」</h2>

          <p class="site__description"></p>

          <a class="site__link" href="<%= root %>/gym">
            <p class="site__link-text">https://takumibv.github.io/practice-petsite/gym</p>
            <img
              class="site__image"
              width="1440"
              height="800"
              src="<%= root %>/assets/images/top/sample_gym.png"
              alt=""
            />
          </a>

          <table class="site-table">
            <tr>
              <th>カテゴリ</th>
              <td>サービスサイト</td>
            </tr>
            <tr>
              <th>制作期間</th>
              <td>5時間</td>
            </tr>
            <tr>
              <th>使用技術</th>
              <td>
                <ul>
                  <li>jQuery</li>
                  <li>Sass</li>
                  <li>
                    <a href="https://swiperjs.com/" target="_blank">Swiper</a>:
                    カルーセルのライブラリ
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>参考</th>
              <td>
                <a target="_blank" href="https://webdesigner-go.com/coding-practice/"
                  >『無料コーディング練習所』</a
                >
              </td>
            </tr>
          </table>
        </article>

        <article class="site">
          <h2 class="site__title">セミナーサイト「WDC」</h2>

          <p class="site__description"></p>

          <a class="site__link" href="<%= root %>/seminar">
            <p class="site__link-text">https://takumibv.github.io/practice-petsite/seminar</p>
            <img
              class="site__image"
              width="1440"
              height="800"
              src="<%= root %>/assets/images/top/sample_seminar.png"
              alt=""
            />
          </a>

          <table class="site-table">
            <tr>
              <th>カテゴリ</th>
              <td>イベントサイト</td>
            </tr>
            <tr>
              <th>制作期間</th>
              <td>4時間</td>
            </tr>
            <tr>
              <th>使用技術</th>
              <td>
                <ul>
                  <li>jQuery</li>
                  <li>Sass</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>参考</th>
              <td>
                <a target="_blank" href="https://webdesigner-go.com/coding-practice/"
                  >『無料コーディング練習所』</a
                >
              </td>
            </tr>
          </table>
        </article>

        <article class="site">
          <h2 class="site__title">企業サイト「START」</h2>

          <p class="site__description"></p>

          <a class="site__link" href="<%= root %>/company">
            <p class="site__link-text">https://takumibv.github.io/practice-petsite/company</p>
            <img
              class="site__image"
              width="1440"
              height="800"
              src="<%= root %>/assets/images/top/sample_company.png"
              alt=""
            />
          </a>

          <table class="site-table">
            <tr>
              <th>カテゴリ</th>
              <td>サービスサイト</td>
            </tr>
            <tr>
              <th>制作期間</th>
              <td>3時間</td>
            </tr>
            <tr>
              <th>使用技術</th>
              <td>
                <ul>
                  <li>jQuery</li>
                  <li>Sass</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>参考</th>
              <td>
                <a target="_blank" href="https://webdesigner-go.com/coding-practice/"
                  >『無料コーディング練習所』</a
                >
              </td>
            </tr>
          </table>
        </article>

        <article class="site">
          <h2 class="site__title">カフェサイト「Blue Cafe」</h2>
          <p class="site__description"></p>
          <a class="site__link" href="<%= root %>/cafe">
            <p class="site__link-text">https://takumibv.github.io/practice-petsite/cafe</p>
            <img
              class="site__image"
              width="1440"
              height="800"
              src="<%= root %>/assets/images/top/sample_cafe.png"
              alt=""
            />
          </a>

          <table class="site-table">
            <tr>
              <th>カテゴリ</th>
              <td>サービスサイト</td>
            </tr>
            <tr>
              <th>制作期間</th>
              <td>2時間</td>
            </tr>
            <tr>
              <th>使用技術</th>
              <td>
                <ul>
                  <li>jQuery</li>
                  <li>Sass</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>参考</th>
              <td>
                <a target="_blank" href="https://webdesigner-go.com/coding-practice/"
                  >『無料コーディング練習所』</a
                >
              </td>
            </tr>
          </table>
        </article>
      </section>
    </main>
  </body>
</html>
