<!DOCTYPE html>
<html lang="JP">
  <head>
    <%- include("../components/_head.ejs", { title: "wdc", filename: "gym" }) %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Noto+Sans+JP:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- <meta property="og:type" content="website" />
    <meta property="og:title" content="WDC" />
    <meta property="og:url" content="https://takumibv.github.io/sample-site-collection/seminar" />
    <meta
      property="og:description"
      content="Web Design Conference（WDC）は、最新のWebデザインのトレンドやワーキングスタイルを紹介するイベントを開催。お気軽にご参加ください。"
    />
    <meta
      property="og:image"
      content="https://takumibv.github.io/sample-site-collection/assets/images/seminar/ogp.png"
    /> -->
  </head>
  <body>
    <header class="l-header">
      <div class="l-container">
        <h1 class="l-header__logo">
          <a href="<%= root %>/seminar">
            <img src="<%= root %>/assets/images/gym/logo.svg" alt="ENG BODY" srcset="" />
          </a>
        </h1>
        <div class="l-header__right">
          <button class="btn">無料カウンセリングを受ける</button>
        </div>
      </div>
    </header>

    <main>
      <section>
        <div class="p-hero">
          <div class="p-hero__content">
            <div class="p-hero__image js-fade-up-trigger">
              <img
                src="<%= root %>/assets/images/gym/bg_mv.png"
                alt=""
                srcset="<%= root %>/assets/images/gym/bg_mv.png 1x, <%= root %>/assets/images/gym/bg_mv@2x.png 2x"
              />
            </div>
            <div class="">
              <h2 class="p-hero__title">
                <span class="p-hero__extend js-bg-extend-trigger"><span>Body Make</span></span>
                <br />
                <span class="p-hero__extend js-bg-extend-trigger">
                  <span class="p-hero__title-accent u-text-primary">&</span> <span>English</span>
                </span>
              </h2>
              <p class="p-hero__subtitle">
                <span class="p-hero__extend js-bg-extend-trigger">
                  <span>英会話＆パーソナルトレーニングジム</span>
                </span>
              </p>
              <div class="p-hero__btn">
                <button class="btn">無料カウンセリングを受ける</button>
              </div>
            </div>
          </div>
        </div>
        <div class="l-container">
          <div class="p-head-message">
            <p class="p-head-message__title">YOU CAN <br />DO IT!</p>
            <p class="p-head-message__subtitle">
              英語とトレーニングの<span class="u-text-primary">蜜月関係</span>
            </p>
            <p class="p-head-message__description">
              Hey, guys! 英語を話している時ってなんだかテンションが上りませんか？
              <br />バイブス高めでトレーニングをすれば、あなたのベストなパフォーマンスが出せます！
              <br />英語と運動に自信がなくたってOK！
              <br />優しくて盛り上げな上手な外国人トレーナーがしっかりサポートします。
              <br />さぁ、ENGBODYで英語でパーソナルトレーニングを受けましょう。
            </p>
          </div>
        </div>
      </section>
      <section class="l-section p-card-section">
        <div class="p-card-section__bg">
          <img
            width="600"
            height="347"
            src="<%= root %>/assets/images/gym/about-food.png"
            alt=""
            srcset="<%= root %>/assets/images/gym/about-food.png 1x, <%= root %>/assets/images/gym/about-food@2x.png 2x"
          />
        </div>
        <div class="l-container">
          <div class="c-card js-fade-up-trigger">
            <p class="c-card__header u-text-primary">Training</p>
            <h3 class="c-card__title">セッションはすべて英語。 <br />LAさながらの環境</h3>
            <div class="c-card__content">
              ネイティブスピーカーによる50分のパーソナルトレーニングはすべて英語です！アップテンポの洋楽が流れる空間でテンション高めのトレーナーが英語であなたのトレーニングを盛り上げてくれます。ダイエットでよく使う英語をまとめたオリジナルテキストもあるのでスピーキング学習もバッチリです！
              <br />英語に苦手意識がある方は日本人トレーナーも選べますのでご安心してください。
            </div>
          </div>
        </div>
      </section>
      <section class="l-section p-card-section">
        <div class="p-card-section__bg">
          <img
            width="600"
            height="347"
            src="<%= root %>/assets/images/gym/about-training.png"
            alt=""
            srcset="<%= root %>/assets/images/gym/about-training.png 1x, <%= root %>/assets/images/gym/about-training@2x.png 2x"
          />
        </div>
        <div class="l-container">
          <div class="c-card js-fade-up-trigger">
            <p class="c-card__header u-text-secondary">Food</p>
            <h3 class="c-card__title">低糖質レストランを完備！ <br />美味しく食べてダイエット</h3>
            <div class="c-card__content">
              食事制限って大変ですよね......。でも大丈夫！ENGBODY館内には低糖質レストラン『LCR』を完備しています。Low
              carb（低糖質）なのにとっても美味しい味に驚くはずです！メニューも豊富で飽きさせません。美味しく食べてしっかり痩せる！しかも英語力もアップ！それがENGBODYなのです。
            </div>
          </div>
        </div>
      </section>
      <section class="l-section pc:u-hidden">
        <div class="l-container l-container--sm">
          <button class="btn btn--block">無料カウンセリングを受ける</button>
        </div>
      </section>
      <section class="l-wave-section">
        <img class="l-wave-section__wave-top" src="<%= root %>/assets/images/gym/wave.svg" />
        <div class="l-container">
          <h2 class="l-wave-section__title">Our Trainer</h2>
          <p class="l-wave-section__subtitle">トレーナー</p>
          <div class="c-tabs">
            <a href="#" class="c-tab c-tab--active" data-target-id="tab-trainer">トレーナー</a>
            <a href="#" class="c-tab" data-target-id="tab-staff">スタッフ</a>
          </div>
          <div id="tab-trainer" class="c-tab-content c-tab-content--active">
            <div class="p-trainer-cards">
              <div class="c-card">
                <div class="c-card__image">
                  <img
                    src="<%= root %>/assets/images/gym/trainer01.png"
                    width="250"
                    height="243"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/trainer01.png 1x, <%= root %>/assets/images/gym/trainer01@2x.png 2x"
                  />
                </div>
                <div class="c-card__content">
                  こんにちは！英語で楽しくトレーニングしましょう。日本語が話せますのでご安心ください。
                </div>
              </div>
              <div class="c-card">
                <div class="c-card__image">
                  <img
                    src="<%= root %>/assets/images/gym/trainer02.png"
                    width="250"
                    height="243"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/trainer02.png 1x, <%= root %>/assets/images/gym/trainer02@2x.png 2x"
                  />
                </div>
                <div class="c-card__content">
                  Hello!
                  筋肉をつけすぎずしなやかな体を作ることが得意です！美しさを磨いていきましょう。
                </div>
              </div>
              <div class="c-card">
                <div class="c-card__image">
                  <img
                    src="<%= root %>/assets/images/gym/trainer03.png"
                    width="250"
                    height="243"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/trainer03.png 1x, <%= root %>/assets/images/gym/trainer03@2x.png 2x"
                  />
                </div>
                <div class="c-card__content">
                  Hi,
                  負荷や強度の高いトレーニングがしたいならおまかせてください！どんなご要望もできるかぎり叶えますよ！
                </div>
              </div>
            </div>
          </div>
          <div id="tab-staff" class="c-tab-content">
            <div class="p-trainer-cards">
              <div class="c-card">
                <div class="c-card__image">
                  <img
                    src="<%= root %>/assets/images/gym/staff01.png"
                    width="250"
                    height="243"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/staff01.png 1x, <%= root %>/assets/images/gym/staff01@2x.png 2x"
                  />
                </div>
                <div class="c-card__content">
                  ENBODYは明るくてとっても楽しいジムです！みなさんのセッションが楽しくなるようしっかりサポートいたします。
                </div>
              </div>
              <div class="c-card">
                <div class="c-card__image">
                  <img
                    src="<%= root %>/assets/images/gym/staff02.png"
                    width="250"
                    height="243"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/staff02.png 1x, <%= root %>/assets/images/gym/staff02@2x.png 2x"
                  />
                </div>
                <div class="c-card__content">
                  Hi, please let me know anytime if you have any questions. We will fully support
                  you!
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="l-wave-section__wave-bottom" src="<%= root %>/assets/images/gym/wave.svg" />
      </section>

      <section class="l-section">
        <div class="l-container">
          <h2 class="l-section__title">Studio</h2>
          <p class="l-section__subtitle">スタジオ</p>
          <div class="l-section__content">
            <div class="swiper p-studio-swiper js-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="<%= root %>/assets/images/gym/studio01.png"
                    width="111"
                    height="67"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/studio01.png 1x, <%= root %>/assets/images/gym/studio01@2x.png 2x"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="<%= root %>/assets/images/gym/studio02.png"
                    width="111"
                    height="67"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/studio02.png 1x, <%= root %>/assets/images/gym/studio02@2x.png 2x"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="<%= root %>/assets/images/gym/studio03.png"
                    width="111"
                    height="67"
                    alt=""
                    srcset="<%= root %>/assets/images/gym/studio03.png 1x, <%= root %>/assets/images/gym/studio03@2x.png 2x"
                  />
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-nav-button swiper-button-prev">
                <span class="material-symbols-rounded">navigate_before</span>
              </div>
              <div class="swiper-nav-button swiper-button-next">
                <span class="material-symbols-rounded">navigate_next</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="l-wave-section">
        <img class="l-wave-section__wave-top" src="<%= root %>/assets/images/gym/wave.svg" />
        <div class="l-container">
          <h2 class="l-wave-section__title">Price</h2>
          <p class="l-wave-section__subtitle">料金</p>
        </div>
        <div class="u-relative">
          <div class="p-price-card-scroll">
            <span class="material-symbols-rounded"> arrow_right_alt </span>
            <p>スクロール</p>
          </div>
          <div class="p-price-card-list js-fade-up-trigger">
            <div class="p-price-card">
              <p class="p-price-card__header-text">週１コース</p>
              <h3 class="p-price-card__title">¥20,000</h3>
              <p class="p-price-card__subtitle">（入会金 ¥10000）</p>
              <dl class="p-price-card__dl">
                <dt>レンタル</dt>
                <dd>タオル、ウェア、プロテイン無料</dd>
              </dl>
              <dl class="p-price-card__dl">
                <dt>レストラン</dt>
                <dd>使用不可</dd>
              </dl>
              <dl class="p-price-card__dl">
                <dt>食事指導</dt>
                <dd>無し</dd>
              </dl>
            </div>
            <div class="p-price-card">
              <div class="p-price-card__badge">オススメ！</div>
              <p class="p-price-card__header-text">週２コース</p>
              <h3 class="p-price-card__title">¥40,000</h3>
              <p class="p-price-card__subtitle">（入会金 ¥10000）</p>
              <dl class="p-price-card__dl">
                <dt>レンタル</dt>
                <dd>タオル、ウェア、プロテイン無料</dd>
              </dl>
              <dl class="p-price-card__dl">
                <dt>レストラン</dt>
                <dd>使用可</dd>
              </dl>
              <dl class="p-price-card__dl">
                <dt>食事指導</dt>
                <dd>有り</dd>
              </dl>
            </div>
            <div class="p-price-card">
              <p class="p-price-card__header-text">無制限</p>
              <h3 class="p-price-card__title">¥70,000</h3>
              <p class="p-price-card__subtitle">（入会金 ¥10000）</p>
              <dl class="p-price-card__dl">
                <dt>レンタル</dt>
                <dd>タオル、ウェア、プロテイン無料</dd>
              </dl>
              <dl class="p-price-card__dl">
                <dt>レストラン</dt>
                <dd>使用可</dd>
              </dl>
              <dl class="p-price-card__dl">
                <dt>食事指導</dt>
                <dd>有り</dd>
              </dl>
            </div>
          </div>
        </div>
        <img class="l-wave-section__wave-bottom" src="<%= root %>/assets/images/gym/wave.svg" />
      </section>

      <section class="l-section p-qa-section">
        <div class="l-container">
          <h2 class="l-section__title">FAQ</h2>
          <p class="l-section__subtitle">よくあるご質問</p>
          <div class="l-section__content">
            <div class="p-qr-accordion js-accordion">
              <div class="p-qr-accordion__header">
                <h3 class="p-qr-accordion__question" tabindex="0">
                  <span>見学や体験は可能ですか？</span>
                </h3>
              </div>
              <div class="p-qr-accordion__content js-accordion__content">
                <p class="p-qr-accordion__answer">
                  <span>
                    無料カウンセリングの際に見学が可能です。フォームに見学・体験希望の欄がございますので内容をご確認しチェックを入れてください。
                  </span>
                </p>
              </div>
            </div>
            <div class="p-qr-accordion js-accordion">
              <div class="p-qr-accordion__header">
                <h3 class="p-qr-accordion__question" tabindex="0">
                  <span>用意するものは何がありますか？</span>
                </h3>
              </div>
              <div class="p-qr-accordion__content js-accordion__content">
                <p class="p-qr-accordion__answer">
                  <span>
                    シューズをご持参ください。ウェアとタオルは無料でレンタルが可能です。
                  </span>
                </p>
              </div>
            </div>
            <div class="p-qr-accordion js-accordion">
              <div class="p-qr-accordion__header">
                <h3 class="p-qr-accordion__question"><span>シャワールームはありますか？</span></h3>
              </div>
              <div class="p-qr-accordion__content js-accordion__content">
                <p class="p-qr-accordion__answer">
                  <span>
                    5つのシャワールームがございます。ボディソープ・シャンプー・リンスなどのアメニティやドライヤーもご用意しております。
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-footer-message">
        <img
          src="<%= root %>/assets/images/gym/sp_cta.png"
          alt=""
          srcset="<%= root %>/assets/images/gym/sp_cta.png 1x, <%= root %>/assets/images/gym/sp_cta@2x.png 2x"
        />
        <div class="l-container l-container--sm">
          <p class="p-footer-message__text">Come join us!! 😊</p>
          <div class="p-footer-message__btn">
            <button class="btn">無料カウンセリングを受ける</button>
          </div>
        </div>
      </section>
      <button class="p-fab-btn">
        <span class="p-fab-btn__icon material-symbols-rounded">keyboard_arrow_up</span>
      </button>
    </main>
    <footer class="l-footer">
      <img
        class="l-footer__logo"
        src="<%= root %>/assets/images/gym/logo_white.svg"
        alt="sky coffee"
      />
    </footer>
  </body>
</html>
